# Database Configuration
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=6543
DB_NAME=postgres
DB_SSL=true

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Environment
NODE_ENV=development

# Public Config
SUPERVISOR_WA_LINK=your_supervisor_whatsapp_link

# Google Cloud Platform (GCP) - For Google Cloud Storage
GCP_PROJECT_ID=your_gcp_project_id
GOOGLE_APPLICATION_CREDENTIALS=./credentials/sipandu-storage-key.json
GCS_BUCKET=your_gcs_bucket_name
